.slick {
  &-slider {
    position: relative;
    .slick-initialized {
    }
    .slick-dotted {
    }
  }
  &-list {
    overflow: hidden;
  }
  &-track {
    display: flex;
    align-items: flex-start;
  }
  &-slide {
    .slick-active {
    }
    .slick-current {
    }
    .slick-center {
    }
    .slick-cloned {
    }
  }
  &-arrow {
    .slick-prev {
    }
    .slick-next {
    }
    .slick-disabled {
    }
  }
  &-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    li {
      button {
        font-size: 0;
        margin: 104px 5px -104px 5px;
        width: 11px;
        height: 11px;
        border-radius: 50%;
        border: 1px solid #c8c8c8;
        background-color: transparent;
      }
      &.slick-active {
        button {
          background-color: #a9afb3;
        }
      }
    }
  }
}
