//!------------Variables------------
$mxw: 1130px;
$bgc: #fff;
//!------------------------------------
//?------------mixin------------
@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"),
      url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}
//?------------------------------------

//?------------fonts------------

@import "fonts";

//*Default font:
$font_family: "Lato", sans-serif;
//?------------------------------------

//*------------styles------------
@import "reset";
@import "header";
@import "footer";
//*------------------------------------

//TODO------------workplace------------
//*------------container------------
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background: $bgc;
}
.container {
  max-width: $mxw;
  margin: 0 auto;
  padding: 0 15px;
}
//*---------------------------------------
//*-------------ibg-----------------------
.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  img {
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
  }
}
//*---------------------------------------
body.lock {
  overflow: hidden;
}
.page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}
.main-screen {
  flex: 1 0 100%;
  position: relative;
  &__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}
.gen {
  background-color: #f7f7f7;
  padding: 120px 0;
  &__block {
  }
  @media (max-width: 900px) {
    padding: 80px 0;
  }
  @media (max-width: 600px) {
    padding: 30px 0;
  }
}

.block {
  text-align: center;
  &__icon {
    margin: 0 0 30px 0;
  }

  &__title {
    color: #353738;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 3.6px;
    margin: 0 0 18px 0;
  }

  &__text {
    color: #848789;
    font-size: 18px;
    line-height: 34px;
  }
  &__text-j {
    text-align: justify;
    font-size: 16px;
    line-height: 30px;
    &::after {
      content: "";
      display: block;
      margin: 35px auto 0 auto;
      width: 50px;
      height: 1px;
      background-color: #ebebeb;
    }
  }
  @media (max-width: 1500px) {
    &__text-j {
      &::after {
        margin: 15px auto 0 auto;
      }
    }
  }
}
//*---------------------------------------
.brands {
  &-rev {
    .brands__column {
      order: 1;
      &-b {
        order: 2;
      }
    }
  }
  &-last {
  }
  &__row {
    display: flex;
  }

  &__column {
    flex: 0 1 33.333%;
  }

  &__column-b {
    flex: 0 1 66.667%;
  }

  &__content {
    padding: 70px 65px 50px 65px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      bottom: -10px;
      left: 50%;
      margin: 0 0 0 -10px;
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid #fff;
      z-index: 10;
    }
  }

  &__image {
    padding: 0 0 37.51% 0;
  }
  @media (max-width: 1500px) {
    &__content {
      padding: 40px 35px 30px 35px;
    }
  }
  @media (max-width: 1100px) {
    &-last {
      .brands__column {
        &:nth-child(1) {
          order: 2;
        }
        &:nth-child(2) {
          order: 1;
        }
        &:nth-child(3) {
          order: 3;
        }
      }
    }
    &__row {
      flex-direction: column;
    }
  }
}
.item {
  height: 100%;
  display: block;
  position: relative;

  &__logo {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(100, 194, 158, 0.5);
    z-index: 4;
    opacity: 0;
    visibility: hidden;
    span {
      margin: 10px 0 0 0;
      font-size: 14px;
      font-weight: 700;
      letter-spacing: 2.8px;
      text-transform: uppercase;
      color: #fff;
    }
  }

  &__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  &:hover {
    .item__logo {
      opacity: 1;
      visibility: visible;
      transition: all 0.5s ease 0s;
    }
  }
  @media (max-width: 1100px) {
    height: auto;
    padding: 0 0 70% 0;
  }
}
//*---------------------------------------
.slider {
  background: #f7f7f7;
  padding: 120px 0 60px 0;
  &__body {
  }

  &__item {
    text-align: center;
  }

  &__icon {
    margin: 0 0 35px 0;
  }

  &__title {
    color: #353738;
    font-size: 18px;
    font-weight: 700;
    margin: 0 0 20px 0;
    span {
      font-weight: 300;
      color: #848789;
    }
  }

  &__text {
    color: #848789;
    font-size: 24px;
    line-height: 34px;
  }
}
//*---------------------------------------
.shop {
  &__body {
    display: flex;
  }

  &__column {
    flex: 0 1 16.666%;
  }

  &__column-b {
    flex: 0 1 33.333%;
  }

  &__block {
  }

  &__footer {
    padding: 75px 0;
    background-color: #282f35;
    text-align: center;
  }

  &__btn {
    display: inline-block;
    height: 50px;
    line-height: 48px;
    letter-spacing: 2.8px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    padding: 0 60px;
    border: 1px solid rgba(255, 255, 255, 0.5);
  }
  @media (max-width: 1100px) {
    &__body {
      flex-wrap: wrap;
    }
    &__column {
      flex: 0 1 50%;
      &:first-child {
        flex: 1 1 100%;
      }

      &:last-child {
        flex: 1 1 100%;
      }
    }
    &__footer {
      padding: 50px 0;
    }
    &__btn {
      padding: 0 30px;
    }
  }
}
.block-shop {
  height: 100%;
  &__row {
    display: flex;
  }

  &__column {
    flex: 0 1 50%;
  }

  &__item {
    height: auto;
    padding: 0 0 50% 0;
    &-b {
      padding: 0 0 200.5% 0;
    }
    &-l {
      padding: 0 0 100% 0;
    }
  }
}
//*---------------------------------------
.subscribe {
  &__body {
    padding: 110px 0;
    max-width: 534px;
    margin: 0 auto;
    text-align: center;
  }

  &__logo {
    margin: 0 0 39px 0;
  }

  &__label {
    color: #848789;
    font-size: 24px;
    font-style: italic;
    margin: 0 0 35px 0;
  }

  &__form {
    display: flex;
  }

  &__input {
    flex: 1 1 auto;
    padding: 0 8px 0 0;
  }

  &__button {
    flex: 0 0 126px;
  }

  &__btn {
    width: 100%;
    height: 69px;
    line-height: 69px;
    color: #fff;
    font-style: 24px;
    text-transform: uppercase;
    font-weight: 300;
    background-color: #64c29e;
  }
  @media (max-width: 750px) {
    &__body {
      padding: 50px 0;
    }
  }
  @media (max-width: 500px) {
    &__form {
      display: block;
    }
    &__input {
      padding: 0 0 8px 0;
    }
  }
}
.input {
  width: 100%;
  height: 69px;
  border: 1px solid #d3d7d9;
  background-color: #ffffff;
  padding: 0 28px;
  color: #929292;
  font-size: 20px;
  font-style: italic;
}

//TODO------------------------------------
