<footer class="footer">
  <div class="container">
    <div class="footer__body">
      <div class="footer__column">
        <div class="footer__address">
          <p>AOD New York</p>
          <p>2250 Lexington Avenue</p>
          <p>New York, NY 10035 - info@domain.com</p>
        </div>
      </div>
      <div class="footer__column">
        <div class="footer__social social">
          <a href="" class="social__link">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="" class="social__link">
            <i class="fab fa-facebook"></i>
          </a>
          <a href="" class="social__link">
            <i class="fab fa-pinterest"></i>
          </a>
        </div>
      </div>
      <div class="footer__column">
        <a href="" class="footer__dev dev">
          <span class="dev__text">
            Handcrafted by
          </span>
          <span class="dev__icon">
            <img src="img/yebo.png" alt="yebo">
          </span>
        </a>
      </div>
    </div>
  </div>
</footer>
